<!DOCTYPE html>
<html lang="en">
<!--EL SEGUNDO PARAMETRO ES UN OBJETO, CON UNA PROPIEDAD POR CADA VARIABLE (QEU VOY A USAR DENTRO DEL EJS)-->
<%- include('./partials/head', {titulo:'Home', stylesFile:'style.css'}) %>

<body>

    <!-- Header -->
    <!-- <%- include('./partials/header', {hayvideo:'imagen'}) %>

    <main class="login-container">
        <div class="login-content">
            <div class="login-panel">
                <h2 class="h3">Entrá a tu cuenta</h2>
                <form action="/" method="POST">
                    <div class="login-form-group">
                        <label for="email">Ingresá tu usuario o email</label><br>
                        <input autofocus="true" class="form-control" type="text" name="user" placeholder="Usuario o email">
                    </div>
                    <div class="login-form-group">
                        <label for="email">Ingresá tu contraseña</label><br>
                        <input autofocus="true" class="form-control" type="password" name="pass" placeholder="Ingresa tu contraseña">
                    </div>                 
                
                    <button class="btn btn-primary btn-lg" type="submit" value="Enviar">Enviar</button><br>
                </form>
                <h2>¿ Aún no estas registrado ?</h2>
                <a href="/users/register"><h2 class="h3">registrate ahora haciendo click aquí</h2></a>
                <br>
                <br>

            </div>
        </div>
    </main> -->

        <!-- FOOTER -->

        <%- include('./partials/footer') %>
    </div>



    

</body>

</html>