<footer>
    <!-- RELACIONADO CON LA COMPRA OPCIONES Y CONDICIONES -->

    <section class="opcionesCompra">

        <div class="footer-pie">
            <i class="fas fa-credit-card"></i>
            <p>Cuotas & Formas de Pago</p>
        </div>

        <p class="opcionesBarra"></p>

        <div class="footer-pie">
            <i class="fas fa-shipping-fast"></i>
            <p>Tiempos & Formas de envio</p>
        </div>

        <p class="opcionesBarra"></p>

        <div class="footer-pie">
            <i class="fas fa-user-shield"></i>
            <p>Politica de cambios & Devoluciones</p>
        </div>

        <p class="opcionesBarra"></p>

        <div class="footer-pie">
            <i class="fas fa-store"></i>
            <p>Retira tu pedido en una tienda</p>
        </div>

    </section>
    <div class="footerStart">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
    </div>
    <div  class="footerStart">
        <p>© Miluz © 2020 Todos los Derechos Reservados</p>
    </div>
</footer>